body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #937DC2;
    padding: 5px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.hero{
    background-image: url("../img/gambar.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    padding-top: 150px;
    text-align: center;
    color: white;
}

.hero-text h1{
    text-decoration: underline;
}
.box{
    display: inline-block;
    height: 180px;
    width: 200px;
    margin-top: 20px;
    
}
.box-1{
    border: 2px solid #C689C6;
    margin: 20px;
    padding: 5px;
    margin-top: -10px;
    overflow-y: auto;
}
.box-2{
    border: 2px dotted #C689C6;
    margin: 20px;
    padding: 5px;
    overflow-y: auto;
}
.box-3{
    border: 3px inset #C689C6;
    margin: 20px;
    padding: 5px;
    overflow-y: hidden;
    border-radius: 8px;
}
.box-4{
    border: 3px ridge #C689C6;
    margin: 20px;
    padding: 5px;
    overflow-y: hidden;
    border-radius: 15px;
}
.box-5{
    border: 2px #C689C6;
    border-style: dotted dashed solid double;
    margin: 20px;
    padding: 5px;
    overflow-y: hidden;
}
.outline{
    background-color: #FFE6F7;
    padding: 10px;
}
.outline-1{
    outline: medium dotted red;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}
.outline-2{
    border: thick double #C689C6;
    outline: 2px dotted red;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
}
.outline-3{
    border: 10px dashed #C689C6;
    outline: 2px dotted red;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
}
.text-right{
    text-align: right;
    text-decoration-line: overline;
    text-shadow: 2px 2px;
}
.text-center{
    text-align: center;
    text-decoration-line: line-through;
    text-shadow: 2px 2px;
}
.text-left{
    text-align: left;
    text-decoration-line: underline;
    text-shadow: 2px 2px;
}
.text-in-middle{
    position: relative;
    left: 50%;
    transform: translate(-10%);
}
.text-kalimat{
    text-align: justify;
    width: 300px;
    text-transform: capitalize;
    letter-spacing: 3PX;
}
.font-all{
    background-color: #FFE6F7;
    padding: 10px;
}
.font{
    padding: 10px;
    font-family: "Sofia", sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}
.big-size{
    font-size: 40px;
    text-align: center;
}
.font p{
    text-align: justify;
}
.isi-icon{
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-20%);
    display: inline-block;
    margin-bottom: 10px;
}
.font-awesome{
    border: 2px solid #C689C6;
    border-radius: 3px;
    height: 150px;
    width: 200px;
    text-align: center;
}
.fas{
    font-size: 30px;
    color: #937DC2;
}
.font-bootsrap{
    border: 2px solid #C689C6;
    border-radius: 3px;
    height: 150px;
    width: 200px;
    text-align: center;
}
.glyphicon{
    font-size: 30px;
    color: #937DC2;
}
.google-icon{
    border: 2px solid #C689C6;
    border-radius: 3px;
    height: 150px;
    width: 200px;
    text-align: center;
}
.material-icons{
    font-size: 30px;
    color: #937DC2;
}
.css-link{
    background-color: #FFE6F7;
    padding: 10px
}
a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}

a.two:link {color:#ff0000;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;}

a.three:link {color:#ff0000;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ff0000;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}

ol {
    background: #ff9999;
    padding: 20px;
}
  
ul {
    background: #3399ff;
    padding: 20px;
}
  
ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}
  
ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

.table{
    background-color: #FFE6F7;
    padding: 10px;
}

#team {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 200px;
}
  
#team td, #team th {
    border: 1px solid #ddd;
    padding: 8px;
}

  
#team tr:nth-child(even){background-color: #f2f2f2;}
  
#team tr:hover {background-color: #ddd;}
  
#team th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #937DC2;
    color: white;
}

.bebek{
    position: absolute;
    left: 400px;
    z-index: 1;
}
.kolam{
    position: relative;
    width: 80%;
}
.float{
    background-color: #FFE6F7;
    padding: 10px;
    overflow: auto;
}
.kiri{
    float: left;
}
.kanan{
    float:right;
}
.sasuke{
    width: 400px;
}
.naruto{
    margin-top: 100px;
}